<div id='status'>

  <h3> <%= type.toUpperCase() %> -  <%= name %> </h3><br>

  <ul  data-tabs="tabs" class="nav nav-tabs" id="myTab">
    <li class="active">
    	<a href="#dash" data-toggle="tab">Dashboard</a>
    </li>

    <li class="config">
    	<a href="#config" data-toggle="tab">Configuration</a>
    </li>
    
  </ul>


	<div id="myTabContent" class="tab-content">

	            <div class="tab-pane fade active in" id="dash">
	              
	  			  		<p></p>
	  			   
	  			   <canvas id="canvas" height="450" width="600" ></canvas>
	            </div>

	            <div class="tab-pane fade" id="config">
	              <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
	            </div>
	            <div class="tab-pane fade" id="messages">
	              <p>Banksy do proident, brooklyn photo booth delectus sunt artisan sed organic exercitation eiusmod four loko. Quis tattooed iphone esse aliqua. Master cleanse vero fixie mcsweeney's. Ethical portland aute, irony food truck pitchfork lomo eu anim. Aesthetic blog DIY, ethical beard leggings tofu consequat whatever cardigan nostrud. Helvetica you probably haven't heard of them carles, marfa veniam occaecat lomo before they sold out in shoreditch scenester sustainable thundercats. Consectetur tofu craft beer, mollit brunch fap echo park pitchfork mustache dolor.</p>

	            </div>
	            <div class="tab-pane fade" id="settings">
	              <p>Sunt qui biodiesel mollit officia, fanny pack put a bird on it thundercats seitan squid ad wolf bicycle rights blog. Et aute readymade farm-to-table carles 8-bit, nesciunt nulla etsy adipisicing organic ea. Master cleanse mollit high life, next level Austin nesciunt american apparel twee mustache adipisicing reprehenderit hoodie portland irony. Aliqua tofu quinoa +1 commodo eiusmod. High life williamsburg cupidatat twee homo leggings. Four loko vinyl DIY consectetur nisi, marfa retro keffiyeh vegan. Fanny pack viral retro consectetur gentrify fap.</p>
	            </div>
	</div>



</div>