<div class ="addApplicationItemContainer">

	<a class="noUnderlineAnchor" href="#app/<%= type %>/addInstance">
	<div class="addApplicationContentContainer">
		
        <div class="addApplicationItemHeader">
			<span><%= name %></span>
		</div>


		<div class="addApplicationItemIconSection">
        	<span><%= name %></span>
            <div class ="addApplicationIcon">
				<img  src="<%= picture === null ? 'pics/TSTV.png' : 'pics/' + picture %>" alt="" width="69" height="42"/>
			</div>
        </div>
        
        <div class="addApplicationDesctiptionSection">
        	<p> <%= name %> suitable for entry tier configs. <%= name %> description will go here; </p>
        </div>
		
			
	</div>
    
   </a>	

</div>

