<div class ="addApplicationItemContainer">

	<div class="addApplicationContentContainer">
		<a href="#<%= name %>">
        <div class="addApplicationItemHeader">
			<span><%= description %></span>	
		</div>


		<div class="addApplicationItemIconSection">
        	<span><%= description %></span>
            <div class ="addApplicationIcon">
				<img  src="<%= picture === null ? 'pics/TSTV.png' : 'pics/' + picture %>" alt="" width="69" height="42"/>
			</div>
        </div>
        
        </a>
			
	</div> 

</div>

